.movieInfo {
  display: flex;
  list-style: none;
  gap: 20px;
}

.movieInfoLink {
  text-decoration: none;
  padding: 8px, 16px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.movieInfoLink:hover,
.movieInfoLink:focus {
  color: #c91b1b;
}

.btn {
  width: 100px;
  height: 25px;
  display: inline-block;
  border: none;
  padding: 5px 8px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: rgb(207, 222, 236);
  box-shadow: 2px 1px 9px 0px #584040;
}

.btn:hover,
.btn:focus {
  background-color: #ea7676;
}
